fastapi==0.115.12
uvicorn[standard]==0.34.1
ultralytics==8.3.96
opencv-python==4.11.0.86
numpy==2.1.1
python-multipart==0.0.20
pydantic-settings==2.8.1
pymongo==4.11.3
python-dotenv==1.1.0
scikit-image==0.26.0
scipy==1.17.1
scikit-learn==1.8.0
PyWavelets==1.9.0
